body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#life {
    width: 550px;
    height: 15px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    position: relative;
    padding: 10px;
}
#health {
    width: 545px;
    height: 15px;
    background-color: black;
    border-radius: 10px;
}

#word {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.letter {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: rgba(0, 0, 139, 0.479);
    text-align: center;
    font-size: 36px;
    margin: 10px;
}
.letter-active {
    background-color: rgb(55, 55, 255);
}

#keyboard {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.key {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: white;
    color: rgb(0, 0, 139);
    text-align: center;
    font-size: 36px;
    margin: 10px;
    cursor: pointer;
}